@model ArtConspiracy.Models.RegisterModel
@{
    ViewBag.Title = "ArtConspiracy | Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "redtext" })  
    
    @Html.HiddenFor(model => model.JoinDate)

    <div><b>Email</b></div>
    <div>
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div><b>Password</b></div>
    <div>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div><b>Full Name</b></div>
    <div>
        @Html.EditorFor(model => model.FullName)
        @Html.ValidationMessageFor(model => model.FullName)
    </div>
    <div><b>City</b></div>
    <div>
        @Html.EditorFor(model => model.City)
        @Html.ValidationMessageFor(model => model.City)
    </div>
    <div><b>State</b></div>
    <div>
        @Html.EditorFor(model => model.State)
        @Html.ValidationMessageFor(model => model.State)
    </div>
    <p>
        <button type="submit" class="button">Register</button>
    </p>
}

<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Controllers/AccountController.cs" target="_blank" class="button">View AccountController.cs on GitHub</a>
<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Views/Account/Register.cshtml" target="_blank" class="button">View Register.cshtml on GitHub</a>


