@model ArtConspiracy.Models.ArtPiece

@{
    ViewBag.Title = "ArtConspiracy | Create Gallery Item";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<h2>Create Gallery Item</h2>


@using (Html.BeginForm("CreateGalleryItem","GalleryManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true, "", new { @class = "redtext" })

    <div><b>Title</b></div>
    <div>
        @Html.EditorFor(model => model.PieceTitle)
        @Html.ValidationMessageFor(model => model.PieceTitle)
    </div>
    <div><b>Description</b></div>
    <div>
        @Html.TextAreaFor(model => model.PieceDesc)
        @Html.ValidationMessageFor(model => model.PieceDesc)
    </div>
    <div><b>Upload Image</b></div>
    <div>
        <input type="file" id="galleryImage" name="galleryImage" />
    </div>
    <p>
        <br />
        <button type="submit" class="button large">Submit</button>&nbsp;
        <button type="button" class="button" onclick="document.location = '/GalleryManager';">Cancel</button>
    </p>
}

<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Controllers/GalleryManagerController.cs" target="_blank" class="button">View GalleryManagerController.cs on GitHub</a>
<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Views/GalleryManager/CreateGalleryItem.cshtml" target="_blank" class="button">View CreateGalleryItem.cshtml on GitHub</a>

