@model ArtConspiracy.Models.ArtPiece

@{
    ViewBag.Title = "EditGalleryItem";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<h2>Edit Gallery Item</h2>

@using (Html.BeginForm("EditGalleryItem", "GalleryManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true, "", new { @class = "redtext" })
    @Html.HiddenFor(model => model.PID)

    <div><b>Title</b></div>
    <div>
        @Html.EditorFor(model => model.PieceTitle)
        @Html.ValidationMessageFor(model => model.PieceTitle)
    </div>
    <div><b>Description</b></div>
    <div>
        @Html.TextAreaFor(model => model.PieceDesc)
        @Html.ValidationMessageFor(model => model.PieceDesc)
    </div>
    <div><b>Current Image</b></div>
    <div>
        <img src="@Model.imgURL" style="max-width:150px;" />
    </div>
    <div><b>Upload New Image</b></div>
    <div>
        <input type="file" id="galleryImage" name="galleryImage" />
    </div>
    <p>
        <br />
        <button type="submit" class="button large">Update</button>&nbsp;
        <button type="button" class="button" onclick="document.location = '/GalleryManager';">Cancel</button>
    </p>
}

