@model IEnumerable<ArtConspiracy.Models.ArtPiece>
@{
    ViewBag.Title = "ArtConspiracy | Gallery Manager";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<h2>Gallery Manager</h2>

@Html.ActionLink("Create New Gallery Item", "CreateGalleryItem", "", new { @class = "button" } )
<br/>
<br/>
<table cellpadding="2" cellspacing="2">
    <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in ViewBag.GalleryItems)
    {
        <tr>
            <td align="center" style="vertical-align:middle;"><img src="@item.imgURL" style="max-width:150px;border-radius:3px;" /></td>
            <td align="center" style="vertical-align:middle;">@item.PieceTitle</td>
            <td align="center" style="vertical-align:middle;">@Html.ActionLink("Edit", "EditGalleryItem", new { id = item.PID }, new { @class = "button" })</td>
            <td align="center" style="vertical-align:middle;">@Html.ActionLink("Delete", "DeleteGalleryItem", new { id = item.PID }, new { @class = "button" })</td>
        </tr>
    }
</table>


<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Controllers/GalleryManagerController.cs" target="_blank" class="button">View GalleryManagerController.cs on GitHub</a>
<br /><br />
<a href="https://github.com/johndespirito/ArtConspiracy/blob/master/Views/GalleryManager/Index.cshtml" target="_blank" class="button">View Index.cshtml on GitHub</a>




